#bag h1 {
    font-size: 34px;
    font-weight: bold;
}

#address h5 {
    font-size: 16px;
}

#address p {
    font-size: 14px;
}

#choose {
    background-color: white;
}

#choose:hover {
    color: aliceblue;
    background-color: grey;
}

#card {
    margin-top: 15px;
    border: none;
    box-shadow: 0px 0px 10px rgba(135, 134, 134, 0.3);
}

#checkbox input {
    width: 20px;
    height: 20px;
}

#checkbox input:checked {
    background-color: #DB3022;
}

#address button {
    border-radius: 50%;
}

#brand h3{
    font-weight: 400;
    margin: 0;
}

#brand p {
    padding: 0;
}

.image {
    padding-left: 20px;
}

.image img {
    border-radius: 8px;
}

.price {
   padding-right: 20px;
}

.price h1{
    font-size: 16px;
}

#delete button {
    background-color: white;
    text-decoration: none;
    color: #DB3022;
    font-weight: 600;
}